@keyframes scroll {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(-200%);
    }
  }
  
  .mar-grp {
    display: flex;
    animation: scroll 10s linear infinite;
    white-space: no-wrap;
  }

/* Works in Firefox */
.catScroll:hover {
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: thin;                 /* thin track */
  scrollbar-color: #999595 transparent;  /* thumb color, track color */
  -webkit-overflow-scrolling: touch;     /* smooth on iOS */
}

/* Works in Chrome/Edge/Safari */
.catScroll::-webkit-scrollbar {
  /* height: 6px;        horizontal scrollbar thickness */
  display: none;
}

.catScroll::-webkit-scrollbar-track {
  background: transparent;   /* or rgba(0,0,0,.06) if you want a faint track */
}

.catScroll::-webkit-scrollbar-thumb {
  background-color: #ef4444; /* red-500 */
  border-radius: 9999px;
}

.catScroll::-webkit-scrollbar-thumb:hover {
  background-color: #dc2626; /* red-600 on hover */
}


  